{% extends 'banhmilove_app/base.html' %}

{% block content %}
<div class="container">
    <h1>NO BANH MI NO LIFE</h1>
    <div class="content-section">
        <p>バインミーとの出会いは2005年のことでした。そして2009年には、高田馬場に「バインミー☆サンドイッチ」が誕生。その後、2015年には恵比寿に「EBISU BANHMI BAKERY」、高田馬場に「バインミーシンチャオ」、2016年には下北沢に「バインミーバーバー」がオープンしました。当時は、バインミーの認知度は低く、日本ではまだ一部の人々にしか知られていませんでした。</p>

        <p>世界のメディアが「世界一のサンドイッチ」と称賛するバインミーですが、当時の渋谷のデパ地下にあったバインミーは冷たく、しっとりしていて、本来の味わいを楽しめるものではありませんでした。しかし、2024年の調査によれば、全国に約400店舗が広がり、急速にその人気を高めています。2030年にはその数が1,000店舗以上に増え、カレーライスのように日本の食卓の定番になることが期待されています。</p>

        <p>私たちは、この素晴らしいバインミーをより多くの人々に知ってもらうために「LOVE BANH MI」を立ち上げました。「NO BANH MI NO LIFE!」というスローガンのもと、バインミーの魅力を広めていきたいと考えています。</p>
    </div>
</div>
{% endblock %}

