{% extends 'banhmilove_app/base.html' %}

{% block content %}
<div class="container">
    <h1>バインミーとは</h1>
    <div class="content-section">
        <p>バインミーとは、ベトナムのストリートフードの一つであり、フランスのバゲットとベトナムの伝統的な具材を組み合わせたサンドイッチです。このユニークな組み合わせは、フランスの植民地時代にベトナムに伝わり、地元の風味と融合して生まれました。</p>

        <p>バインミーの魅力は、そのサクサクのバゲットにあります。一口かじると、外はパリッと、中はふんわりとした食感が楽しめます。そして、中にはジューシーな焼き豚、レバーパテ、ピクルス、人参、大根、香草（例えばパクチー）などが詰め込まれています。これらの具材が絶妙に調和し、甘味、酸味、辛味が一度に味わえるのが特徴です。</p>

        <p>また、バインミーはバラエティ豊かです。焼き豚だけでなく、鶏肉、牛肉、エビ、ベジタリアン向けの豆腐など、様々な具材を使ったバインミーが楽しめます。どのバインミーも新鮮な具材を使い、風味豊かで食欲をそそります。</p>

        <p>ベトナムの街角で、または専門店で食べるバインミーは、手軽さも魅力の一つです。ランチタイムや小腹が空いた時にぴったりのバインミーは、現地の人々だけでなく、世界中のバインミーファンを虜にしています。</p>

        <p>もしまだバインミーを試したことがないなら、ぜひ一度その魅力を体験してみてください。一度食べたら、きっとその美味しさに虜になることでしょう。</p>

        <h2>NO BANH MI NO LIFE!</h2>
    </div>
</div>
{% endblock %}
